<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="author" content="Kunal Goyal">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <style>
        /* Define the styles for the button and its hover state */
        .custom-button {
            background-color: darkgreen;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 20px;
            font-size: 20px;
        }
    
        /* Style the button on hover */
        .custom-button:hover {
            background-color: forestgreen; /* Change to a lighter shade of green on hover */
        }
    </style>
    <!-- Website Title -->
    <title>Loan Default Prediction</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- <link href="./static/css/" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/swiper.css" rel="stylesheet">
    <link href="../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <!-- <link href="../static/css/styles.css" rel="stylesheet"> -->


    <!-- Favicon  -->
    <!-- <link rel="icon" href="{{url_for('static', filename='images/logo.svg')}}"> -->
    <!-- <link rel="icon" href="../static//images/kunal.png" alr="alternate"> -->
</head>

<body data-spy="scroll" data-target=".fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        
  
        <!-- end of mobile menu toggle button -->


        <!-- Image Logo -->
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll"  href="../templates/index.html" >HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#Predict">PREDICT</a>
                </li>
                
                
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
           
        </div>
    </nav> <!-- end of navbar -->
	    </nav> <!-- end of navbar -->

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Image Logo -->
        <a class="navbar-brand" href="#">
            <img src="../static/images/logo.svg" width="100" alt="Logo">
        </a>
    
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar Links -->
        
        <!-- End Navbar Links -->
    </nav>
    <!-- end of navbar -->
    


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>Loan Defaulter <span id="js-rotating">Prediction</span></h1>
                            <p class="p-heading p-large"></p>
                            <!-- <a class="btn-solid-lg page-scroll" href="#Predict">Predict Approval</a> -->
                            <div class="form-group">
                                <a class="form-control-submit-button" href="/predict"><button class="custom-button">Check Authenticity</button></a>
                            </div>

                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Description -->
    
    <!-- end of description -->
    <!-- Intro -->
    <div>
        <!-- Predict -->
        <div class="container">

            <div class="row">
               
                <div class="col-lg-6">

                    <!-- Call Me Form -->
<!--                  
                        <div class="form-group">
                            <a class="form-control-submit-button" href="/predict"><button>Check Authenticity</button></a>
                        </div> -->
                    
                    <!-- end of call me form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <!-- end of call me -->
    </div> <!-- end of basic-1 -->
    
    <div id="contact" class="footer">
        <div class="container">
            <div class="row">
			<img class="card-image" src="../static/images/group10.jpeg"  width="150" height="150" alt="alternative">

                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Developed by:</h4>
                        <h2 class="white">Group 10</h2>
						<p class="white">Vivekanand Educational Society Institute of Technology</p>
						<!-- <p class="white"   >Email: kunal.goyal.2020@mumail.ie </p> -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Connect</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white">LinkedIn</a>
                            </li>
                            <li>
                                <a class="white" >Github</a>
                            </li>
                            <li>
                                <a class="white" >Kaggle</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tool Used</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white">Html , Css , JavaScript</a>
                            </li>
                            <li>
                                <a class="white" >Python,Flask</a>
                            </li>
                            <li>
                                <a class="white" >Jupyter Noteboook , Kaggle</a>
                            </li>
                            
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                
                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>  
    
</body>

</html>