<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Individual Loan Applicantion</title>
     <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
	<!-- <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/swiper.css" rel="stylesheet">
    <link href="../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
<!--  -->
	
	<!-- Favicon  -->
    <link rel="icon" href="{{url_for('static', filename='images/logo.svg')}}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/logo.svg')}}" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

         <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/logo.svg')}}"		alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll"  href="../templates/index.html" >HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#Predict">PREDICT</a>
                </li>
                
                
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
           
        </div>
    </nav> <!-- end of navbar -->
	    </nav> <!-- end of navbar -->

    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Individual Applicant</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/">Home</a><i class="fa fa-angle-double-right"></i><span>Predict Individual Loan Approval</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div id="Predict" class="ex-basic-2">
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp Please Fill in the details to get your chances of Loan Approval.</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
							<!-- Contact Form -->
								<!-- <form id="contactForm" data-toggle="validator" data-focus="false" action="{{ url_for('predict') }}" method="POST">
								<div class="form-group">
									<input name="NumberOfDependents" type="number" class="form-control-input" id="er_credit_open_date">
									<label class="label-control" for="er_credit_open_date">NumberOfDependents</label>
									<div class="help-block with-errors"></div>
								</div>
								
								<div class="form-group">
									<input name="RevolvingUtilizationOfUnsecuredLines" type="number" min="600" max="850" class="form-control-input" id="fico_avg_score" required>
									<label class="label-control" for="fico_avg_score">RevolvingUtilizationOfUnsecuredLines</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="age" class="form-control-input" type="number" min="500" max="40000" id="loan_amnt" required>
									<label class="label-control" for="loan_amnt">age:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfTime30-59DaysPastDueNotWorse" list="terms" class="form-control-input" type="number" min="36" max="60" id="term" required>
									<label class="label-control" for="term">NumberOfTime30-59DaysPastDueNotWorse</label>
									<datalist id="terms">
									<option value="36">
									<option value="60">
									</datalist>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="DebtRatio" class="form-control-input" type="number" min="0" max="40" id="dti" required>
									<label class="label-control" for="dti">DebtRatio:</label>
									<div class="help-block with-errors"></div>
								</div>
								
								
							
                    </div> 
                </div> 	
				                <div class="col-lg-6">
                    <div class="text-container">
							
								<div class="form-group">
									<input name="MonthlyIncome" type="number" min="0" max="190000" class="form-control-input" id="annual_inc" required>
									<label class="label-control" for="annual_inc">MonthlyIncome </label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfOpenCreditLinesAndLoans" type="number" class="form-control-input" id="mort_acc" required min="1" max="12">
									<label class="label-control" for="mort_acc">NumberOfOpenCreditLinesAndLoans:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfTimes90DaysLate" type="number" min="0"  class="form-control-input" id="open_acc" required>
									<label class="label-control" for="open_acc">NumberOfTimes90DaysLate :</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberRealEstateLoansOrLines" type="number" min="0"  class="form-control-input" id="total_acc" required>
									<label class="label-control" for="total_acc">NumberRealEstateLoansOrLines:</label>
									<div class="help-block with-errors"></div>
								</div>
									
								
								<div class="form-group">
									<input name="NumberOfTime60-89DaysPastDueNotWorse" type="number" min="0" max="110" class="form-control-input" id="revol_util" required>
									<label class="label-control" for="revol_util">NumberOfTime60-89DaysPastDueNotWorse:</label>
									<div class="help-block with-errors"></div>
								</div>	
								
                    </div> 
					</div> 	
                    <button type="submit" >MAKE PREDICTION</button>
					</form> -->
                    <form id="contactForm" action="{{ url_for('predict') }}" method="POST">
                        <div class="form-group">
                            <label for="NumberOfDependents">NumberOfDependents:</label>
                            <input name="NumberOfDependents" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="RevolvingUtilizationOfUnsecuredLines">RevolvingUtilizationOfUnsecuredLines:</label>
                            <input name="RevolvingUtilizationOfUnsecuredLines" type="number" step="any" required>
                        </div>
                        <div class="form-group">
                            <label for="age">age:</label>
                            <input name="age" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="NumberOfTime30-59DaysPastDueNotWorse">NumberOfTime30-59DaysPastDueNotWorse:</label>
                            <input name="NumberOfTime30-59DaysPastDueNotWorse" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="DebtRatio">DebtRatio:</label>
                            <input name="DebtRatio" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="MonthlyIncome">MonthlyIncome:</label>
                            <input name="MonthlyIncome" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="NumberOfOpenCreditLinesAndLoans">NumberOfOpenCreditLinesAndLoans:</label>
                            <input name="NumberOfOpenCreditLinesAndLoans" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="NumberOfTimes90DaysLate">NumberOfTimes90DaysLate:</label>
                            <input name="NumberOfTimes90DaysLate" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="NumberRealEstateLoansOrLines">NumberRealEstateLoansOrLines:</label>
                            <input name="NumberRealEstateLoansOrLines" type="number" required>
                        </div>
                        <div class="form-group">
                            <label for="NumberOfTime60-89DaysPastDueNotWorse">NumberOfTime60-89DaysPastDueNotWorse:</label>
                            <input name="NumberOfTime60-89DaysPastDueNotWorse" type="number" required>
                        </div>
                        <button type="submit">MAKE PREDICTION</button>
                    </form>
                    
					</div> <!-- end of container -->
				<div class="result" align="center">
                    {% if prediction and prediction[0] == 0 %}
                    <h1>Prediction Result</h1>
                    <p>The predicted value is: {{ prediction[0] }}</p>
                    <p>Congratulations! Approved.</p>
                    {% elif prediction and prediction[0] == 1 %}
                    <h1>Prediction Result</h1>
                    <p>Loan denied</p>
                    {% endif %}

				</div>
		</div>
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->
 	  <!-- Details 2 -->
	
    
		<div class="area-2">
		

            <div class="tabs-container">
                
                <!-- Tabs Links -->
                
                <!-- end of tabs links -->
                
                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    
                    <!-- end of tab -->

                    <!-- Tab -->
                   
                    <!-- end of tab -->

                    <!-- Tab -->
                  

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div>
		</div>
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Footer -->
    <div id="contact" class="footer">
        <div class="container">
            <div class="row">
			<img class="card-image" src="{{url_for('static', filename='images/group10.jpeg')}}"  width="150" height="150" alt="alternative">

                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Developed by:</h4>
                        <h2 class="white">Group 10</h2>
						<p class="white">Vivekanand Educational Society Institute of Technology</p>
						<!-- <p class="white">Email: kunal.goyal.2020@mumail.ie </p> -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Connect</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="https://www.linkedin.com/in/kunal4g/">LinkedIn</a>
                            </li>
                            <li>
                                <a class="white" href="https://github.com/ikunal95">Github</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.kaggle.com/ikunal4g">Kaggle</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tools Used</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="https://www.ichec.ie/about/infrastructure/kay">ICHEC Kay</a>
                            </li>
                            <li>
                               <a class="white" href="https://public.tableau.com/profile/kunal.goyal#!/vizhome/lendingclub_15949916461750/Dashboard1">Tableau</a>
                            </li>
                            <li class="media">
                                <a class="white" href="https://www.lendingclub.com/info/statistics.action">Lending Club</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->



   <!-- end of copyright --> 
    <!-- end of copyright -->
    <!-- Scripts -->
     <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
	<script src="{{url_for('static', filename='js/popper.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/morphext.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/validator.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
	<script src="{{url_for('static', filename='js/scripts.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
	<script src="{{url_for('static', filename='js/swiper.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->

</body>
</html>
