<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Individual Loan Applicantion</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/swiper.css" rel="stylesheet">
    <link href="../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <!--  -->

    <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static', filename='images/logo.svg')}}">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/logo.svg')}}"
                alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="/"><img src="{{url_for('static', filename='images/logo.svg')}}"
                    alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('home') }}">HOME <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#Predict">PREDICT</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>

            </div>
        </nav> <!-- end of navbar -->
    </nav> <!-- end of navbar -->

    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Individual Applicant</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/">Home</a><i class="fa fa-angle-double-right"></i><span>Predict Individual Loan
                            Approval</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div id="Predict" class="ex-basic-2">
        <center><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp Please Fill in the details to get your chances of Loan
            Approval.</h4></center>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <!-- Contact Form -->
                        <!-- <form id="contactForm" data-toggle="validator" data-focus="false" action="{{ url_for('predict') }}" method="POST">
								<div class="form-group">
									<input name="NumberOfDependents" type="number" class="form-control-input" id="er_credit_open_date">
									<label class="label-control" for="er_credit_open_date">Number Of Dependents</label>
									<div class="help-block with-errors"></div>
								</div>
								
								<div class="form-group">
									<input name="RevolvingUtilizationOfUnsecuredLines" type="number" class="form-control-input" id="fico_avg_score" step="any" required>
									<label class="label-control" for="fico_avg_score">Revolving Utilization Of Unsecured Lines</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="age" class="form-control-input" type="number"  id="loan_amnt" required>
									<label class="label-control" for="loan_amnt">Age:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfTime30-59DaysPastDueNotWorse" list="terms" class="form-control-input" type="number" id="term" required>
									<label class="label-control" for="term">Number Of Time 30-59 Days Past Due Not Worse</label>
									<datalist id="terms">
									<option value="36">
									<option value="60">
									</datalist>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="DebtRatio" class="form-control-input" type="number"  id="dti" required>
									<label class="label-control" for="dti">DebtRatio:</label>
									<div class="help-block with-errors"></div>
								</div>
								
								
							
                    </div> 
                </div> 	
				                <div class="col-lg-6">
                    <div class="text-container">
							
								<div class="form-group">
									<input name="MonthlyIncome" type="number"  class="form-control-input" id="annual_inc" required>
									<label class="label-control" for="annual_inc">Monthly Income </label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfOpenCreditLinesAndLoans" type="number" class="form-control-input" id="mort_acc" required >
									<label class="label-control" for="mort_acc">Number Of Open Credit LinesAnd Loans:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberOfTimes90DaysLate" type="number"  class="form-control-input" id="open_acc" required>
									<label class="label-control" for="open_acc">NumberOfTimes90DaysLate :</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="NumberRealEstateLoansOrLines" type="number"  class="form-control-input" id="total_acc" required>
									<label class="label-control" for="total_acc">NumberRealEstateLoansOrLines:</label>
									<div class="help-block with-errors"></div>
								</div>
									
								
								<div class="form-group">
									<input name="NumberOfTime60-89DaysPastDueNotWorse" type="number"  class="form-control-input" id="revol_util" required>
									<label class="label-control" for="revol_util">NumberOfTime60-89DaysPastDueNotWorse:</label>
									<div class="help-block with-errors"></div>
								</div>	
								
                    </div> 
					</div> 	
                    <button type="submit" >MAKE PREDICTION</button>
					</form> -->
                    <form id="contactForm" data-toggle="validator" data-focus="false" action="{{ url_for('predict') }}" method="POST">
                        <div class="form-group">
                            <input name="NumberOfDependents" type="number" class="form-control-input" id="er_credit_open_date" placeholder="Number Of Dependents" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        
                        <div class="form-group">
                            <input name="RevolvingUtilizationOfUnsecuredLines" type="number" class="form-control-input" id="fico_avg_score" step="any" placeholder="Revolving Utilization Of Unsecured Lines" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name="age" class="form-control-input" type="number" id="loan_amnt" placeholder="Age" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name="NumberOfTime30-59DaysPastDueNotWorse" list="terms" class="form-control-input" type="number" id="term" placeholder="Number Of Time 30-59 Days Past Due Not Worse" required>
                
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name="DebtRatio" class="form-control-input" type="number" id="dti" placeholder="Debt Ratio" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div> 
                    </div> 	
                    <div class="col-lg-6">
                        <div class="text-container">
                            <div class="form-group">
                                <input name="MonthlyIncome" type="number" class="form-control-input" id="annual_inc" placeholder="Monthly Income" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input name="NumberOfOpenCreditLinesAndLoans" type="number" class="form-control-input" id="mort_acc" placeholder="Number Of Open Credit Lines And Loans" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input name="NumberOfTimes90DaysLate" type="number" class="form-control-input" id="open_acc" placeholder="Number Of Times 90 Days Late" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input name="NumberRealEstateLoansOrLines" type="number" class="form-control-input" id="total_acc" placeholder="Number Real Estate Loans Or Lines" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input name="NumberOfTime60-89DaysPastDueNotWorse" type="number" class="form-control-input" id="revol_util" placeholder="Number Of Time 60-89 Days Past Due Not Worse" required>
                                <div class="help-block with-errors"></div>
                            </div>	
                        </div> 
                    </div> 	
                    <button type="submit">MAKE PREDICTION</button>
                    </form>
                    
                    
                    </div> 
                    <div class="result" align="center">
                        {% if prediction is defined and prediction[0] == 0 %}
                        <h1>Prediction Result</h1>
                        <!-- <p>The predicted value is: {{ prediction[0] }}</p> -->
                        <h3>Congratulations! Approved.</h3>
                        {% elif prediction is defined and prediction[0] == 1 %}
                        <h1>Prediction Result</h1>
                        <h3> Loan denied</h3>
                        {% endif %}
                        
                    </div>
                </div>
            </div> <!-- end of ex-basic -->
            <!-- end of terms content -->
            <!-- Details 2 -->


            <div class="area-2">


                <div class="tabs-container">

                    <!-- Tabs Links -->

                    <!-- end of tabs links -->

                    <!-- Tabs Content -->
                    <div class="tab-content" id="ariaTabsContent">

                        <!-- Tab -->

                        <!-- end of tab -->

                        <!-- Tab -->

                        <!-- end of tab -->

                        <!-- Tab -->


                    </div> <!-- end of tab-content -->
                    <!-- end of tabs content -->

                </div> <!-- end of tabs-container -->
            </div>
        </div>
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Footer -->
    <div id="contact" class="footer">
        <div class="container">
            <div class="row">
			<img class="card-image" src="../static/images/group10.jpeg"  width="150" height="150" alt="alternative">

                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Developed by:</h4>
                        <h2 class="white">Group 10</h2>
						<p class="white">Vivekanand Educational Society Institute of Technology</p>
						<!-- <p class="white"   >Email: kunal.goyal.2020@mumail.ie </p> -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Connect</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white">LinkedIn</a>
                            </li>
                            <li>
                                <a class="white" >Github</a>
                            </li>
                            <li>
                                <a class="white" >Kaggle</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tool Used</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white">Html , Css , JavaScript</a>
                            </li>
                            <li>
                                <a class="white" >Python,Flask</a>
                            </li>
                            <li>
                                <a class="white" >Jupyter Noteboook , Kaggle</a>
                            </li>
                            
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                
                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> 
</body>

</html>